.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;
  background: white;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary);
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.login-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: white;
}

.start-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: var(--primary);
  color: white;
}